@border: 1px solid red;
// @border:none;


.video_box {
    width: 1300px;
    // height: 800px;
    margin: 0 auto;
    border: @border;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .video_vid {
        width: 1000px;
        height: 600px;
        border: @border;

        video:first-child {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }

    .video_vid_r {
        border: @border;
        width: 260px;
        //   height: 1300px;
    }

    .com {
        border: @border;
        width: 1000px;
        // height: 300px; 
        margin-top: 20px;
        padding-bottom: 20px;
        background-color: #F4F5F7;

        .sendtext {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 950px;
            margin: 0 auto;

            img {
                width: 60px;
                height: 60px;
            }
        }
    }

    .getText {
        // border: @border;
        margin-top: 10px;

        .textlist {
            display: flex;

            width: 950px;
            margin: 0 auto;
            margin-top: 10px;

            //   border: @border;
            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .textlist_r {
                //   border: @border;
                width: 870px;
                margin-left: 18px;
                padding-bottom: 10px;
                border-bottom: 1px solid #E5E9EF;



                .textname {
                    font-size: 16px;
                    font-weight: bold;
                    color: #6D757A;
                }

                .texts {
                    font-size: 15px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .textTime {
                    color: gray;
                    //   border: @border;
                    display: flex;
                    align-items: center;
                    position: relative;

                    span {
                        font-size: 14px;
                        height: 20px;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        margin-left: 30px;
                    }

                    .del {
                        position: absolute;
                        right: 0px;
                    }

                    .del:hover {
                        color: #00A1D6;
                        cursor: pointer;
                    }

                    .span2 {
                        margin-left: 30px;
                    }

                    .span2:hover {
                        color: #00A1D6;
                        cursor: pointer;
                    }
                }
            }
        }


        .textlist_ans {
            display: flex;
            margin-top: 5px;

            // border: @border;
            img {
                width: 30px;
                height: 30px;
                border-radius:50%;
            }

            .textlist_r {
                // border: @border;
                width: 850px;
                margin-left: 18px;
                // padding-bottom: 10px;
                border-bottom: none;

                // display: flex;
                .textname {
                    font-size: 16px;
                    font-weight: bold;
                    color: #6D757A;

                    span {
                        font-size: 14px;
                        font-weight: normal;
                        color: #000;
                    }
                }

                .textTime {
                    color: gray;
                    // border: @border;
                    display: flex;
                    align-items: center;
                    position: relative;

                    img {
                        width: 20px;
                        height: 20px;
                        margin-left: 30px;
                    }

                    .del {
                        position: absolute;
                        right: 0px;
                    }

                    .del:hover {
                        color: #00A1D6;
                        cursor: pointer;
                    }

                    .span2 {
                        margin-left: 30px;
                    }

                    .span2:hover {
                        color: #00A1D6;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}