.video_box {
  width: 1300px;
  height: 900px;
  margin: 0 auto;
  border: none;
}
.video_box .video_vid {
  width: 1000px;
  height: 600px;
  border: none;
}
.video_box .video_vid video:first-child {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
