@border: 1px solid red;
// @border:none;

.Listdirectory {
  width: 80%;
  min-width: 1100px;
  height: 300px;
  border: @border;
  margin: 0 auto;

  // display: flex;
  // justify-content: space-between;
  .listR {
    width: 100%;
    min-width: 1100px;
    height: 60px;
    border: @border;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .el-tag {
      display: block;
      cursor: pointer;
      // margin-top: 15px !important;
      // margin-left: 21px !important;
    }
  }

  .downlist {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-between;

    .swip {
      width: 36%;
      min-width: 400px;
      height: 240px;
      border: @border;

      .el-carousel__item {
        border: @border;
        width: 550px;
        height: 240px;
        min-width: 400px;

        .el_img {
          width: 550px;
          height: 240px;
          min-width: 400px;

        }
      }
    }

    .other {
      width: 60%;
      height: 240px;
      border: @border;
      display: flex;
      justify-content: space-between;

      .other_a {
        width: 48%;
        min-width: 350px;
        height: 240px;
        border: @border;
        // background-color: #EAF4E5;

      }

      .other_b {
        width: 48%;
        height: 240px;
        border: @border;
        .getTime{
          width: 100%;
          height: 30px;
          border:@border;
          display: flex;
          align-items: center;
      }
      .tuiTime{
        width: 100%;
          height: 30px;
          border:@border;
          display: flex;
          align-items: center;
      }
        .ssq{
          width: 100%;
          height: 30px;
          border: @border;
          display: flex;
          justify-content: space-between;
          align-items: center;
          
          .ssq_num{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: red;
            color: #fff;
            line-height: 30px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
          }
          .ssq_num:nth-child(8){
            background-color: blue;
          }
         
        }
        .tuissq{
          width: 100%;
          border:@border;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .tui_ball{
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            border-radius: 50%;
            background-color: red;
            color: #fff;
          }
        }
      }
    }
  }

}