.HeadTitle {
  color: #ffffff;
  width: 100%;
  min-width: 1100px;
  height: 180px;
  border: none;
  position: relative;
}
.HeadTitle img {
  width: 100%;
  min-width: 1100px;
  height: 180px;
  display: block;
}
.HeadTitle .head {
  width: 100%;
  min-width: 1100px;
  height: 60px;
  border: none;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}
.HeadTitle .head .left {
  width: 35%;
  height: 60px;
  border: none;
  display: flex;
  justify-content: space-evenly;
}
.HeadTitle .head .left .left_list {
  border: none;
  width: 90px;
  text-align: center;
  line-height: 60px;
}
.HeadTitle .head .cent {
  width: 30%;
  height: 60px;
  border: none;
}
.HeadTitle .head .right {
  width: 35%;
  height: 60px;
  border: none;
  display: flex;
  justify-content: space-evenly;
}
.HeadTitle .head .right .left_list {
  border: none;
  width: 90px;
  text-align: center;
  line-height: 60px;
}
