@border:1px solid red;
.HeadTitle{
     color:red;
     max-width: 100%;
     min-width: 1000px;
     height: 180px;
     border: @border;
     .head{
       max-width: 100%;
     min-width: 1000px;
     height: 60px;
     border: @border;
     }
   }
 