
// @flex:display:flex;
@border:1px solid red;
.alist{
    width: 1300px;
    height: 900px;
    margin: 20px auto;
    border: 1px solid red;
    display: flex;
    .left_url{
        width: 300px;
        height: 100%;
        border: @border;
        .url_list:hover{
            color:chartreuse;
            cursor: pointer;
        }
    }

    
}