h1 {
  color: green;
}
.login {
  width: 80px;
  height: 30px;
  border: 1px solid red;
  display: flex;
  align-items: center;
}
.login img {
  width: 25px;
  height: 25px;
}
.login div {
  font-size: 16px;
}
