.take {
  width: 900px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
.take .login {
  border: 1px solid red;
  padding: 20px;
  width: 260px;
}
.take .login .islogin {
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 10px auto;
  text-align: center;
}
.take .login .gozhu {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.take .login .gozhu .linkzhu {
  color: #409EFF;
  height: 30px;
  line-height: 40px;
}
.take .login .gozhu .qqlogin {
  width: 100px;
  height: 30px;
  display: flex;
  border: 1px solid #409EFF;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.take .login .gozhu .qqlogin .qq {
  font-size: 16px;
}
.take .login .gozhu .qqlogin img {
  width: 20px;
  height: 20px;
}
