// @border:1px solid red;
@border:none;
.take{
    width: 900px;
    height: 500px;
    // margin-top: 180px;
    margin: 0 auto;
    border: @border;
    display: flex;
    justify-content: space-between;
    .login{
        border: @border;
        padding: 20px;
        width: 260px;
        // margin: 0 auto;
        .islogin{
            width: 80px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            margin: 10px auto;
            text-align: center;
        }
        .gozhu{
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            .linkzhu{
                color: #409EFF;
                height: 30px;
                // border: @border;
                line-height: 40px;
            }
            .qqlogin{
                width: 100px;
                height: 30px;
                display: flex;
                // color: #ffffff;
                // background: #269832;
                border: 1px solid #409EFF;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                
                .qq{
                    font-size: 16px;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        
    }
    
}
